.topTitle-div{
    padding:0.2% 8%;
    display: flex;
    flex-direction: row;
    margin:0;
    justify-content:flex-end;
  background: #080808;

    
}

.topTitle-lang {
  position: relative;
  z-index: 999;     
  min-width: 50px;   
  min-height: 20px;
}


.topTitle-hero img{
    width:15%;
    height:auto;
}

